*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header,footer{
    background-color: green;
    color: rgb(196, 139, 139);
    text-align: center; 
    width: 100%;
}
header{
    
    width: 100%;
    position: fixed;
    top: 0;
    padding: 2rem;
    height: 80px;
}

footer{
    position: absolute;
    }

nav{
    background-color: black;
    text-align: center;
    color: #FFFFFF;
    margin-top: 80px;
    line-height: 2rem;
    
}
img{
width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
/*

.nav ul{
    text-align: center;
    background-color: black;
    padding:0rem;
    margin:0rem;
    display: block;
     */


}
h2{
    text-align: center;
    

}
a{
    text-decoration: none;
    color: #FFFFFF;
}
